# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
application-properties=0.5.0=pypi_0
autopep8=1.6.0=pypi_0
beautifulsoup4=4.10.0=pypi_0
bzip2=1.0.8=h1de35cc_0
ca-certificates=2021.10.26=hecd8cb5_2
certifi=2020.6.20=pyhd3eb1b0_3
click=4.1=pypi_0
columnar=1.4.1=pypi_0
libcxx=12.0.0=h2f01273_0
libffi=3.3=hb1e8313_2
markdownify=0.10.1=pypi_0
ncurses=6.3=hca72f7f_2
openssl=1.1.1m=hca72f7f_0
pip=21.2.4=pypi_0
pycodestyle=2.8.0=pypi_0
python=3.10.0=hdfd78df_3
readline=8.1.2=hca72f7f_1
setuptools=58.0.4=pypi_0
six=1.16.0=pypi_0
soupsieve=2.3.1=pypi_0
sqlite=3.37.0=h707629a_0
tk=8.6.11=h7bc2e8c_0
toml=0.10.2=pypi_0
toolz=0.11.2=pypi_0
tzdata=2021e=hda174b7_0
wcwidth=0.2.5=pypi_0
wheel=0.37.1=pyhd3eb1b0_0
xz=5.2.5=h1de35cc_0
zlib=1.2.11=h4dc903c_4
